
.BackHead{
    background-image: url("./img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 10rem;
    color: #FFFFFF;
}

.footColor{
    background-color: #212529;
    color: #FFFFFF;
    margin-bottom: 0px;
}